body {
    background-image: url("https://i.pinimg.com/originals/62/63/5b/62635bfd6f5c20e3666f27e015191bde.jpg");
    background-size: cover;
  }
  h1 {
    color: dimgray;
  }
img{
    width: 400px;
}
.divClass{
    flex-basis: auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-self: center;
}

.divHijo{
    flex-basis: auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-self: center;
}
.divHijo2{
    flex-basis: auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 217, 0);
    align-self: center;
}

.divPadre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
  }
.thirdDiv{
    flex-basis: auto;
    background-color: rgb(196, 144, 3);
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items:center;
    align-self: center;
    text-align: center; 
    width: auto;
}

.spanId{
    color: chartreuse;
    size: 18px;
    margin: 50px;
    }

.spanId2{
    color: maroon;
    }